body {
	background-image: linear-gradient(to top, #000000, #161616, #242424, #343434, #444444);
	margin: 0;	
	padding: 0;

}

* {
	font-size: 1.1rem;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #222;
	text-decoration: none;
	scroll-behavior: smooth;
	box-sizing: border-box;


	/* NAV */


#main-nav {
	display: flex;
	width: fit-content;
	background-color: #fff931;
	height: 70px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	align-items: center;
	position: fixed	;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	border-bottom: 6px solid #222;
	border-right: 6px solid #222;
	border-left: 6px solid #222;
	z-index: 100;
}

#logo {
	height: 120px;
}

.nav__text-container {
	padding: 40px;
}

#logo__container {
	padding: 0;
}

.nav__item {
	transition: .3s;
}


.nav__item:hover {
	text-decoration: underline 3px;
	opacity: .8;
}


	/* BANNER */


#banner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	width: 	100%;
	height: fit-content	;
	background: #fff931;
	padding: 135px 100px 65px 100px;
	box-shadow: 3px 10px 10px #000;
}

#banner-img {
	width: 	500px;
}

#banner-title {
	color: #F5f5f5;
	text-shadow: 2px 3px 0px #363535,
				 3px 3px 5px #000;
	margin: 0 0 30px 0;
	text-align: left;
}

#kw0 {
	font-size: 2rem;
	color: #F5f5f5;
	text-decoration: underline	4px;
}

#banner-text {
	color: 	#363535;
	margin: 0;
}


	/* CALCULADORA */


h2, i, #kw{
	font-size: 2rem;
	color: #F5F5F5;
	text-align: center;
	width: 100%;
	text-shadow: 2px 3px 0px #898999;
	font-style: italic;
}

h2, #kw {
	margin: 70px 0 70px 0;
}

#kw1 {
	color: #fff931;
	transition: .3s;
	font-size: 2rem;
}

#kw1:hover {
	box-shadow: 0 5px 0 #fff931,
				0 8px 0 #898999;
}


	/* FORMULARIO */


#cc {
	width: 100%;
	height: fit-content;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
}

.cc__pregunta {
	border-radius: 25px;
	border: 3px solid #fff931;
	height: fit-content;
	text-align: center;
	box-shadow: 3px 3px 5px #000;
}

.cc__pregunta:nth-child(odd) {
	margin-left: 50px;
}

.cc__pregunta:nth-child(even), .cc__pregunta:last-child  {
	margin-right: 50px;
}

#ico-container {
 	position: 	relative;
 	top: -15px;
 	margin: auto	;
 	padding: 0;
 	left: 0;
 	right:0;
 	width: 30px;
 	height: 30px;
 	background: #fff931;
 	border-radius: 50%;
 	display: grid;
 	align-content: center;
 	justify-content: center;
}

#ico {
	color: #222;
}

h4 {
	color:#fff931;
	width: 	100%;
	text-align: center;
	font-size: 	1.25rem;
	margin: 0;
}
 

	/* PREGUNTA 1 */


input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
    display: inline-block;
    color: #898999;
	padding: 8px;
	background: #F5F5F5;
	border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border-bottom: 4px solid #898999;
    box-shadow: 3px 3px 5px #000;
 
}

input[type="radio"]:checked + label{
   	background: #fff931;
   	color: #222;
   	border: none;
}

 #hombre:hover, #mujer:hover {
 	background: #fff931;
   	color: #222;
    border-bottom: 4px solid #fff931;
 }

#repuestas__container {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-gap: 30px;
	padding: 0 60px 0 60px;
	margin: 30px 0 60px ;
}

.ico1, .ico3 {
	font-size: 4rem;
}


	/* PREGUNTA 2,3 Y 4 */


.ico3 {
	margin: 30px 0 30px 0;
}

#peso-input, #altura-input, #edad-input {
	width: 10%;
	text-align: center;
	background: rgba(0, 0, 0, 0);
	outline: none;
	border: none;
	border-bottom: 3px solid #fff931;
	color: #F5F5F5;
	margin-bottom: 60px;
	padding: 7px;

}

#respuestas-text {
	color: #F5F5F5;
}

#ico4-container {
	display: flex;
	margin: 0 250px 0 250px;
}

	
	/*PREGUNTA 5 */


.cc__pregunta:nth-child(5) {
	grid-column: 1 / 3;
	margin-right: 50px;
}

#actividad {
	text-align: center;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 3px solid #fff931;
	color: #F5F5F5;
	cursor: pointer;
	margin-bottom: 60px;
	padding: 7px;
}

#actividad-opciones {
	text-align: left;
}


	/* BOTON SUBMIT */ 	


.cc__pregunta:nth-child(6) {
	margin: 0 0 0 50px;
	border: none;

}

 

 #form__submit {
 	outline: none;
 	border: 3px solid #fff931;
 	background: #fff931;
 	cursor: pointer;
 	width: 100%;
 	height: 100%;
 	padding: 8px;
 	border-radius: 20px;

 	
 	&:hover {
 		opacity: .85;
 	}
 }


	/* RESULTADO */


.cc__pregunta:last-child {
 	margin: 0 50px 100px 0;
 	background: #fff931;
 	padding: 8px;
 }

 #resultado-text {
 	background: #fff931 ;
 	border-radius: 20px;
 	width: 100%;
 }


 /* TIERLIST ALIMENTOS */ 


#ta-title {
	margin-bottom: 0;
	box-shadow: 3px -4px 5px #000;
	padding-top: 20px;
}

.subtitle {
	text-align: center;
	width: 100%;
	margin-top: 0;
	color: #fff931;
	text-shadow: 2px 3px 0px #898999;
}


	/* ESTILO APARTADOS */


.ta-apartado {
	margin: 100px;
}

.apartado-title {
	text-align: left;
}

.ta-text {
	color: rgba(245, 245, 245, .85);
	margin-left: 20px;
}


	/* TIERLIST */


.TierList {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
	margin: 50px 0 0 20px;
	width: 70%;
	text-align: center;

}

.celda {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content	: center;
}

.s {background: #fd8082;}

.a {background: #febf84;}

.b {background: #fede86;}

.c {background: #fffe87;}

.d {background: #c1fd86;}

.celda-content {
	background: #252525;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

.content {
	width: 70px;
	margin: 15px;
}


		/*TAGS TIERLIST*/


.tag  {
	position: absolute;
	text-align: center;
	background: transparent;
	margin-top: -30px;
	padding: 0 40px 85px 40px;
	opacity: 0;
	transition: .1s;

	&:hover {
		opacity: 1;
	}

}

.tag-text {
	font-size: 	0.9rem;
		padding: 6px;
	border-radius: 6px ;
	display: flex;
	align-items: center;
}

.ico4 {
	width: 22px;
}


	/*RECETAS*/

#r-title {
	box-shadow: 3px -4px 5px #000;
  	padding-top: 20px;
  	margin: 150px 0 0 0;
}


	/* ESTILO 1 */



.r-section {
	display: grid;
	grid-template-columns: 1fr 1.5fr 2fr;
	background: #fff931;
	border-radius: 25px;
	box-shadow: 3px 3px 5px #000;
	margin: 100px 50px 50px 50px;
}

.s-title  {
	color: #222;
	font-size: 1.5rem;
	grid-column: 1 / 4;
	margin: 25px;
}

.s-subtitle{
	color: #222;
	font-size: 1.25rem;
	margin-bottom: 10px;
	height: fit-content;
}

.s-li, .s-text {
	font-size: .9rem;
	margin: 0;
	color: rgba(22, 22, 22, .7);
}

.kw2 {
	font-size: .9rem;
	color: rgba(22, 22, 22, .8);
	text-decoration: 1.5px underline;
}

.s-text {
	margin-left: 40px;
}

.s-ul {
	margin-top: 0;
}

.s-container {
	width: auto;
}


.s-container {
	border-top: 3px solid #222;
	padding: 0 25px 25px 25px;
	display: grid;
	grid-template-rows: 40% 40%;
	justify-content: center;

}

.s-container:nth-child(2), .s-container:nth-child(3){
	border-right: 3px solid #222;
}

	/* ESTILO 2 */


.rs-2 {
	background: transparent;
	border: 3px solid #fff931;
}

.st-2{
	color: #fff931;;
}

.kw2-1 {
	color: rgba(245, 245, 245, .9);
	text-decoration: 1.5px underline;
	font-size: .9rem;
}

.sl-2{
	color: rgba(245, 245, 245, .8);
}

.sc-2 {

	border-top: 3px solid #fff931;
}

.sc-2:nth-child(2), .sc-2:nth-child(3){
		border-right: 3px solid #fff931;
}